doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title= title
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/style.css')
    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            .container
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarNavDropdown.collapse.navbar-collapse
                    ul.navbar-nav.mr-auto
                        li.nav-item(class={active: currentUrl === '/'})
                            a.nav-link(href='/') Home
                        li.nav-item(class={active: currentUrl === '/admin/rooms'})
                            a.nav-link(href='/admin/rooms') Chat Rooms
                        li.nav-item(class={active: currentUrl === '/admin/users'})
                            a.nav-link(href='/admin/users') Users
                    ul.navbar-nav
                        li.nav-item
                            a.nav-link(href='/logout') Logout #{user.name}
        .container
            main.main-content
                block content
        
        script(src='/jquery.min.js')
        script(src='/umd/popper.min.js')
        script(src='/js/bootstrap.min.js')
        
        block script
